fastapi
uvicorn
loguru
aiohttp
beautifulsoup4
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-ollama
chromadb
pypdf
langgraph
requests
selenium
trafilatura
nltk
scikit-learn
pandas
numpy
datasets
rouge-score
bleurt 